version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: google_drive_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "030688"
      POSTGRES_DB: google_drive
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: google_drive_backend
    environment:
      PORT: 5001
      NODE_ENV: development
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "030688"
      POSTGRES_DB: google_drive
      SECRET: "DASJ;HF;Q843R1324"
      BASE_URL: http://localhost:5001
    ports:
      - "5001:5001"
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: google_drive_frontend
    environment:
      REACT_APP_API_URL: http://localhost:5001
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
