.dashboard {
	padding: 24px;
	width: 100%;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

.folderGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	gap: 16px;
	margin-top: 16px;
}

.folderCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 16px;
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.2s;
	text-decoration: none;
	color: inherit;
}

.folderCard:hover {
	background-color: #f5f5f5;
}

.folderIcon {
	font-size: 48px;
	color: #1890ff;
	margin-bottom: 8px;
}

/* Files */
.fileGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	gap: 16px;
	margin-top: 16px;
}

.fileCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	overflow: hidden;
	background: #fafafa;
	transition: box-shadow 0.2s;
	padding: 8px;
}

.fileCard:hover {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.fileIcon {
	font-size: 48px;
	color: #52c41a;
	margin: 16px 0 8px;
}

.fileImage {
	width: 80%;
	height: auto;
	object-fit: cover;
}



.deleteIcon {
	font-size: 15px;
	color: #ff4d4f;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.folderCard {
	position: relative;
}

.fileCard {
	position: relative;
}

.deleteIcon:hover {
	color: #ff4d4f;
	transform: scale(1.1);
	transition: transform 0.2s;
}

.fileName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	width: 100%;
	display: block;
	padding: 8px;
	font-size: 12px;
	text-align: center;
	word-break: break-word;
	color: #333;
}

.folderName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	width: 100%;
	display: block;
}

.searchContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
}

.search {
	width: 300px;
	margin-bottom: 16px;
}

.moreIcon {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 18px;
	color: #676262;
	cursor: pointer;
	padding: 4px;
	border-radius: 4px;
	transition: background-color 0.2s, color 0.2s;

}

.moreIcon:hover {
	background-color: rgba(0, 0, 0, 0.06);
	color: #1890ff;
}